@import "tailwindcss";

@theme {
    --color-celeste: #05A2E7;
}

h1, h2 {
    font-family: var(--font-bebas);
}

* {
    font-family: var(--font-gothic);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Opera */
}